#bigHead{
	text-align:center;
	}

#submit{
    float:right;
    margin-top:5px;
	}

#Status{
	float:none;
	margin-bottom:5px;
}
span{
	color:black;
}

.categories{
	list-style-type:square;
	font-size:20px;
}

.catogories span{
	font-size:16px;
}

#status-type{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 200px;
	display: block;
    padding: 6px 12px;
    height: 34px;
    float: right;
	border-radius: 4px;
}

.dropdown-response {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown-response:hover .dropdown-content {
    display: block;
}
