<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Navigation -->
<nav>
<div class="container">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
		<i class="fa fa-bars"></i>
		</button>
		<a class="navbar-brand page-scroll" href="/home">
		SMART KAMPUNG </a>
	</div>
	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
		<ul class="nav navbar-nav">
			<li>
			<a href="/home">Home</a>
			</li>
			<li>
			<a href='/photowall'>Photo Wall</a>
			</li>
			<li>
			<a href="/forum">Forum</a>
			</li>
			<li>
			<a href="/search">Search</a>
			</li>
            <li>
			<a href="/events">Events</a>
			</li>
            <li>
			<a href="/tips">Tips</a>
			</li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ session.username }}
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                <li><a href="{{ url_for('user', username=session['username']) }}">User Profile</a></li>
                <li><a href="/edit">Edit profile</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
            </li>
		</ul>
	</div>
	<!-- /.navbar-collapse -->
</div>
<!-- /.container -->
</nav>
</body>
</html>