<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>SMART KAMPUNG</title>
<!-- Bootstrap Core CSS -->
<link href="../static/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="../static/css/edit.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="../static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700,400italic,700italic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
{% from 'Includes/_formhelper.html' import render_field %}
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
<div class="container">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
		<i class="fa fa-bars"></i>
		</button>
		<a class="navbar-brand page-scroll" href="/home">
		SMART KAMPUNG </a>
	</div>
	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
		<ul class="nav navbar-nav">
			<li>
			<a href="/home">Home</a>
			</li>
			<li>
			<a href='/photowall'>Photo Wall</a>
			</li>
			<li>
			<a href="/forum">Forum</a>
			</li>
			<li>
			<a href="/search">Search</a>
			</li>
            <li>
			<a href="/events">Events</a>
			</li>
            <li>
			<a href="/tips">Tips</a>
			</li>
            <li>
			<a href="/recycle">Recycle</a>
			</li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ session.username }}
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                <li><a href="/user/{{ session.username }}">User Profile</a></li>
                <li><a href="/settings/account">Edit profile</a></li>
                <li><a href="/chat">Chatroom</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
            </li>
		</ul>
	</div>
	<!-- /.navbar-collapse -->
</div>
<!-- /.container -->

</nav>
<br /><br /><br /><br />
<h1 style="text-align: center;">Account Info</h1>
    <div class="container">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<img src="http://keenthemes.com/preview/metronic/theme/assets/admin/pages/media/profile/profile_user.jpg" class="img-responsive" alt="">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						{{ session.username }}
					</div>
				</div>
                <div class="profile-usermenu">
					<ul class="nav">
						<li class="active">
							<a href="/settings/account">
							<i class="glyphicon glyphicon-home"></i>
							Account </a>
						</li>
						<li>
							<a href="/settings/password">
							<i class="glyphicon glyphicon-user"></i>
							Password Settings </a>
						</li>
					</ul>
				</div>
            </div>
            </div>
        <div class="col-md-9">
            <div class="profile-content">
                <div class="container-fluid">
                    <b>Email: </b>
                    <p>{{ emailList[0] }}</p>
                    <form action="/settings/account" method="POST">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                      {{ render_field(form.about_me, class="form-control",placeholder="about_me") }}
                    </div>
                    {{ form.submit(class="btn btn-success") }}
                    </form>
                    <div class="col-lg-8 col-lg-offset-3">
                    <form onsubmit="return Validate(this);">
                    <input type='file' value='upload' id='fileButton' a href="#" class="btnghost" onclick="reload()" />
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

<script src="../static/js/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="../static/js/bootstrap.min.js"></script>
<!-- Plugin JavaScript -->
<script src="../static/js/jquery.easing.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="../static/js/theme.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCHVUY5JdL1gqZx7juQQlaIAIB8R76A7ZE",
    authDomain: "oopproject-f5214.firebaseapp.com",
    databaseURL: "https://oopproject-f5214.firebaseio.com",
    projectId: "oopproject-f5214",
    storageBucket: "oopproject-f5214.appspot.com",
    messagingSenderId: "294439860189"

  };
  firebase.initializeApp(config);

  //Get Elements
var uploader = document.getElementById('uploader');
var fileButton = document.getElementById('fileButton');

//Listen for file selection
fileButton.addEventListener('change',function(e) {
//Get file
    var file = e.target.files[0];


    var fileInput = document.getElementById('fileButton');
    var filePath = fileInput.value;
    var allowedExtensions = /(\.jpg|\.jpeg|\.png)$/i;
    if(!allowedExtensions.exec(filePath)){
        alert('Please upload file having jpg, jpeg and png extensions only.');
        fileInput.value = '';
        return false;
    }else{

//Create a storage ref
    var storageRef = firebase.storage().ref('profilePic/' + file.name);
    var firebaseRef = firebase.database().ref();
//Upload file
    var task = storageRef.put(file);

    function error(err) {
        console.log('error', err);
    }


//Get a reference to store file at photos/<FILENAME>.jpg
    task.on('state_changed', null, null, function () {

        //When the image has successfully uploaded we get its download URL
        var downloadURL = task.snapshot.downloadURL
        //This is for profile picture
        {#        document.querySelector('img').src = downloadURL;#}
           var messageText = downloadURL;
            firebaseRef.child('profilePic').child('{{ session.username }}').push(messageText);
            window.location.reload();
        })

        }
            });




    </script>
</body>
</html>
