<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% from "includes/_formhelper.html" import render_field %}
{% if form.errors %}
    <div class="alert alert-danger">
        <ul>
            {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                {% for error in field_errors %}
                    <li>{{ form[field_name].label }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
{% endif %}
{% block body %}
    <div class="jumbotron text-center">
        <h1>Welcome to Events page</h1>
    </div>
{% endblock %}
    <script>
        $(document).ready(function () {
            $('#book').show();
            $('#magazine').hide();
            $('input[type="radio"]').click(function () {
                if ($(this).attr('value') == 'sbook') {
                    $('#book').show();
                    $('#magazine').hide();
                }
                else {
                    $('#magazine').show();
                    $('#book').hide();
                }
            });
        });
    </script>
    <form method="POST" action="">

        <div class="form-group">
        </div>
        <div class="form-group">
            {{ render_field(form.title, class_="form-control") }}
        </div>

        <div class="form-group">
            <div class="form-row">
                <div class="form-group col-md-4">
                    {{ render_field(form.category, class_="form-control") }}
                </div>
                <div class="form-group col-md-4">
                    {{ render_field(form.timeStart, class_="form-control") }}
                </div>
                <div class="form-group col-md-4">
                    {{ render_field(form.timeEnd, class_="form-control") }}
                </div>
                <div class="form-group col-md-4">
                    {{ render_field(form.location, class_="form-control") }}
                </div>
                <div class="form-group col-md-4">
                    {{ render_field(form.description, class_="form-control") }}
                </div>
            </div>
        </div>
        <div class="form-group col-md-1">
            <input type="submit" value="Submit" class="btn btn-info"/>
        </div>
    </form>
        {% for i in allE %}
        <p>Title:
        {{ i['title'] }}
        </p>
        <p>Category:
        {{ i['category'] }}
        </p>
        <p>Description:
        {{ i['description'] }}
        </p>
        <p>Location:
        {{ i['location'] }}
        </p>
        <p>Time start:
        {{ i['timeStart'] }}
        </p>
        <p>Time end:
        {{ i['timeEnd'] }}
        </p>
        {% endfor %}
            </div>
        </div>


</body>
</html>
