<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/forum.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>
</head>
<body>
{% from "includes/_formhelper.html" import render_field %}
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
<div class="container">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
		<i class="fa fa-bars"></i>
		</button>
		<a class="navbar-brand page-scroll" href="/home">
		SMART KAMPUNG </a>
	</div>
	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
		<ul class="nav navbar-nav">
			<li>
			<a href="/home">Home</a>
			</li>
			<li>
			<a href='/photowall'>Photo Wall</a>
			</li>
			<li>
			<a href="/forum">Forum</a>
			</li>
			<li>
			<a href="/search">Search</a>
			</li>
            <li>
			<a href="/events">Events</a>
			</li>
            <li>
			<a href="/tips">Tips</a>
			</li>
            <li>
			<a href="/recycle">Recycle</a>
			</li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ session.username }}
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                <li><a href="/user/{{ session.username }}">User Profile</a></li>
                <li><a href="/settings/account">Edit profile</a></li>
                <li><a href="/chat">Chatroom</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
            </li>
		</ul>
	</div>
	<!-- /.navbar-collapse -->
</div>
<!-- /.container -->

<div class="forum">
	<h1 id="bigHead">Forum</h1>
	<div class="container-fluid">
		<div class="row">
			<div class="form-group">
				<div class="col-lg-1">
				</div>
				<div class="col-lg-10">
					<div class="container">
						<div class="panel-group">
							<form method="POST" action="/forum">
							<p>
								{{ render_field(forumFilter.forumFilter)}}
								<input type="submit" class="btn btn-primary" value="Submit"></input>
								<button type="button" style="float:right;" class="btn btn-danger" onclick="window.location.href='/postForum'">Create a forum</button>
							</p>
							</form>
							<div class="panel panel-default forum-section">
								<div class="panel-heading">
									Welcome to the forum section
								</div>
								<div class="panel-body">
									This is a forum section that allows discussion between users with needs or wants.<br/>
									Users can also post things that they want to give away to other users.
								</div>
								<br/>
																{% for eachForum in forumList %}
									<div class="panel-heading">
										<p>{{ eachForum[0] }}</p>
                                        <p>created on {{ eachForum[2] }}</p>
									</div>
									<div class="panel-body">
										{{ eachForum[1] }}
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-1">
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</body>
</html>
