<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>SMART KAMPUNG</title>
<!-- Bootstrap Core CSS -->
<link href="../static/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="../static/css/theme.css" rel="stylesheet">
<!-- Custom Fonts -->
<link href="../static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700,400italic,700italic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
{% from "./Includes/_formhelper.html" import render_field %}
<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
<div class="container">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
		<i class="fa fa-bars"></i>
		</button>
		<a class="navbar-brand page-scroll" href="index.html">
		SMART LIVING </a>
	</div>
	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
		<ul class="nav navbar-nav">
			<li>
			<a href="/home">Home</a>
			</li>
			<li>
			<a href='/photowall'>Photo Wall</a>
			</li>
			<li>
			<a href="/forum">Forum</a>
			</li>
			<li>
			<a href="/search">Search</a>
			</li>
            <li>
			<a href="/events">Events</a>
			</li>
            <li>
			<a href="/tips">Tips</a>
			</li>
            <li>
			<a href="/recycle">Recycle</a>
			</li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ session.username }}
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                <li><a href="{{ url_for('user', username=session['username']) }}">User Profile</a></li>
                <li><a href="/settings/account">Edit profile</a></li>
                <li><a href="/chat">Chatroom</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
            </li>
		</ul>
	</div>
	<!-- /.navbar-collapse -->
</div>
<!-- /.container -->
</nav>
<!-- Intro Header -->
<header class="intro">
<div class="intro-body">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h1 class="brand-heading">THIS IS THE FORUM</h1>
				<p class="intro-text">
					Write about any topics on your mind.
				</p>
				<a href="#about" class="btn btn-circle page-scroll">
				<i class="fa fa-angle-double-down animated"></i>
				</a>
			</div>
		</div>
	</div>
</div>
</header>
<!-- Forum Section -->
<section>
<div class="forum">
	<h1 id="bigHead">Forum</h1>
	<div class="container-fluid">
		<div class="row">
			<div class="form-group">
				<div class="col-lg-1">
				</div>
				<div class="col-lg-10">
					<div class="container">
						<div class="panel-group">
							<form method="POST" action="/forum">
							<p>
								{{ render_field(forumFilter.forumFilter)}}
								<input type="submit" class="btn btn-primary" value="Submit"></input>
								<button type="button" style="float:right;" class="btn btn-danger" onclick="window.location.href='/postForum'">Create a forum</button>
							</p>
							</form>
							<div class="panel panel-default forum-section">
								<div class="panel-heading">
									Welcome to the forum section
								</div>
								<div class="panel-body">
									This is a forum section that allows discussion between users with needs or wants.<br/>
									Users can also post things that they want to give away to other users.
								</div>
								<br/>
																{% for eachForum in forumList %}
									<div class="panel-heading">
										<p>{{ eachForum[0] }}</p>
                                        <p style="display:inline">created on {{ eachForum[2] }}</p>
                                        <p style="display:inline;float:right;">created by <a href="http://127.0.0.1/user/{{ eachForum[3] }}">{{ eachForum[3] }}</a></p>
									</div>
									<div class="panel-body">
										{{ eachForum[1] }}
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-1">
				</div>
			</div>
		</div>
	</div>
</div>
</section>
<!-- Footer -->
<footer>
<div class="container text-center">
	<p class="credits">
		Copyright &copy; SmartKampung 2018<br/>
	</p>
</div>
</footer>
<!-- jQuery -->
<script src="../static/js/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="../static/js/bootstrap.min.js"></script>
<!-- Plugin JavaScript -->
<script src="../static/js/jquery.easing.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="../static/js/theme.js"></script>
</body>
</html>
