{% extends "bootstrap/base.html" %}

{% block content %}
    <main class="hero-section">
        <div class="container">
            <div class="section-content">
                <h2>Forum</h2>
                <a href="/signup" class="btn btn-info" role="button">Sign up</a>
                <a href="/login" class="btn btn-info" role="button">Log in</a>
                <a href="#" class="btn btn-info" role="button">Learn more</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </main>

{% endblock %}
