<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>SMART KAMPUNG</title>
<!-- Bootstrap Core CSS -->
<link href="../static/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="../static/css/edit.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="../static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700,400italic,700italic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <!--<title>Title</title>-->
    <style  media='screen'>
        body{
            margin: 0;
        }
        label {
            display: none;
        }
        #myProgress {
                  width: 70%;
                  background-color: #ddd;
                  text-align: center;
                    margin-left: 15%;
        }
        #myBar {
          width: 0;
          height: 30px;
          background-color: #4CAF50;
          text-align: center;
          line-height: 30px;
          color: white;
        }#myProgress2 {
                  width: 70%;
                  background-color: #ddd;
                  text-align: center;
                    margin-left: 15%;
        }
        #myBar2 {
          width: 0;
          height: 30px;
          background-color: #4CAF50;
          text-align: center;
          line-height: 30px;
          color: white;
        }
        #file, #file2{
            margin:0;
        }
        #everything{
            margin-left:25%;
        }
        @media only screen and (max-width: 500px) {
            #everything {
                margin-left:0%
            }}
    </style>

</head>
<body>
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
<div class="container">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
		<i class="fa fa-bars"></i>
		</button>
		<a class="navbar-brand page-scroll" href="/home">
		SMART KAMPUNG </a>
	</div>
	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
		<ul class="nav navbar-nav">
			<li>
			<a href="/home">Home</a>
			</li>
			<li>
			<a href='/photowall'>Photo Wall</a>
			</li>
			<li>
			<a href="/forum">Forum</a>
			</li>
			<li>
			<a href="/search">Search</a>
			</li>
            <li>
			<a href="/events">Events</a>
			</li>
            <li>
			<a href="/tips">Tips</a>
			</li>
            <li>
			<a href="/recycle">Recycle</a>
			</li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ session.username }}
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                <li><a href="/user/{{ session.username }}">User Profile</a></li>
                <li><a href="/settings/account">Edit profile</a></li>
                <li><a href="/chat">Chatroom</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
            </li>
		</ul>
	</div>
	<!-- /.navbar-collapse -->
</div>
<!-- /.container -->

</nav>
<br /><br /><br /><br />
<h1 class="display-3 text-center">Update Photo</h1>
        <div class="container">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<img src="http://keenthemes.com/preview/metronic/theme/assets/admin/pages/media/profile/profile_user.jpg" class="img-responsive" alt="">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						{{ session.username }}
					</div>
				</div>
                <div class="profile-usermenu">
					<ul class="nav">
						<li>
							<a href="/settings/account">
							<i class="glyphicon glyphicon-home"></i>
							Account </a>
						</li>
						<li>
							<a href="/settings/password">
							<i class="glyphicon glyphicon-user"></i>
							Password Settings </a>
						</li>
                        <li class="active">
							<a href="/settings/profilePic">
							<i class="glyphicon glyphicon-user"></i>
							Profile Picture Settings </a>
						</li>
					</ul>
				</div>
            </div>
            </div>
        <div class="col-md-9">
            <div class="profile-content">
                <div class="container-fluid">
                    <h2 class="display-5 text-center">Choose a profile picture</h2>
                    <br>
                    <br>
                    <img id = 'img' class="img-responsive text-center" style="width: 275px; height: 275px;" src="{{ driverImage }}">

                    <br>
                    <br>
                    <div class="row">
                        <div class="col-4">

                        </div>
                    <div id="myProgress">
                        <div id="myBar"></div>
                    </div>
                        <div class="col-2"></div>
                    </div>
                    <br>
                    <br>
                <input class="display-5 text-center" type="file" id="file"/>
                <br>
                <br>
            </div>
         <button type="button" class="btn btn-primary btn-lg upload-group text-center" onclick="setTimeout(myFunction,8000)" id="uploadButton"  style="margin-left:47%">Upload</button>
        <br>
        <br>
        <div id="clear" style="clear: both;"></div>
        </div>
<script src="../static/js/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="../static/js/bootstrap.min.js"></script>
<!-- Plugin JavaScript -->
<script src="../static/js/jquery.easing.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="../static/js/theme.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>
<script>
   function myFunction() {
    window.location = "/test"
}
     $("#file").change(function() {
      readURL(this);
    });
    function readURL(input) {
      if (input.files) {
        var reader = new FileReader();
        reader.onload = function(e) {
          $('#img').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
      }
    }
    $("#file").change(function() {
      readURL(this);
    });
      // Initialize Firebase
      var config = {
    apiKey: "AIzaSyCHVUY5JdL1gqZx7juQQlaIAIB8R76A7ZE",
    authDomain: "oopproject-f5214.firebaseapp.com",
    databaseURL: "https://oopproject-f5214.firebaseio.com",
    projectId: "oopproject-f5214",
    storageBucket: "oopproject-f5214.appspot.com",
    messagingSenderId: "294439860189"

  };
  firebase.initializeApp(config);
    var fileButton = document.getElementById('uploadButton');
    $("#file").on("change",function (event) {
        selectedFile=event.target.files[0];
    });
    console.log('{{ session.username }}');
    fileButton.addEventListener('click',function(e) {
        var elem = document.getElementById("myBar");
        username = "{{ session.username }}";
        var filename = selectedFile.name;
        var storageRef = firebase.storage().ref('/profilePic/' + filename);
        var fileRef = storageRef.child(filename);
        var uploadTask = storageRef.put(selectedFile);
        uploadTask.on('state_changed', function (snapshot) {
        var percentage = snapshot.bytesTransferred / snapshot.totalBytes * 100;
            //uploader.value = percentage;
             elem.style.width = parseInt(percentage) + '%';
             elem.innerHTML=parseInt(percentage)+'%';
        }, function (error) {
        }, function () {
            var postKey = '{{ picKey }}';
            var downloadURL = uploadTask.snapshot.downloadURL;
            var updates = {};
            var postData = {
                photo: downloadURL
            };
            updates['profilePic/' + postKey] = postData;
            console.log('enters');
            firebase.database().ref('profilePic/' + postKey).update(postData);
        });
    })
        </script>


</body>
</html>