{% extends "template.html" %}
{% from 'Includes/_formhelper.html' import render_field %}
{% block body %}
  <div class="container-fluid">
  <h1>Edit Your Profile</h1>
  <form action="/edit" method="POST" name="edit">
      {{form.hidden_tag()}}
      <table>
          <tr>
              <td>Change password:</td>
              <td>{{ render_field(form.password, class="form-control") }}</td>
          </tr>

          <tr>
              <td>About yourself:</td>
              <td>{{ render_field(form.about_me,class="form-control") }}</td>
          </tr>
          <tr>
              <td></td>
              <td><input type="submit" value="Save Changes"></td>
          </tr>
      </table>
  </form>
  </div>

{% endblock %}
